.App{
  text-align: center;
  align-items: center;
  justify-content: center;
}
.title{
  text-align: center;
  margin: 4rem;
}
.container{
  display: flex;
  width: 500px;
  justify-content: space-around;
  text-align: justify;
}
.name{
  margin: 2;
  display: flex;
  border: 0.5rem;
  border-radius: 12px;
  outline: 0.5rem solid khaki;
 width:250px; 
}
.last{
  display: flex;
  align-items: center;
  border: 0.5rem;
  border-radius: 12px;
  outline: 0.5rem solid khaki;
  margin-left: 5rem;
  width: 250px;
}
.input{
  margin-right: 2rem;
  border-radius: 1rem;
}
.gender{
  display: flex;
  margin: 2rem;
  border: 0.5rem;
  border-radius: 12px;
  outline: 0.5rem solid khaki;
  width:250px;
}
.age{
  margin: 2rem;
  display: flex;
  border: 0.5rem;
  border-radius: 12px ;
  outline: 0.5rem solid khaki;
  width: 250px;

}
.profession{
  display: flex;
  text-align: left;
  border: 0.5rem;
  border-radius: 12px;
  outline: 0.5rem solid khaki;
  width:250px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

